langchain==0.3.19
langchain-chroma==0.2.2
langchain-community==0.3.18
langchain-core==0.3.40
langchain-google-genai==2.0.11
langchain-huggingface==0.1.2
langgraph==0.2.74
fastapi==0.115.6
python-dotenv
smolagents==1.4.1
litellm==1.59.0
duckduckgo_search==7.2.1
langgraph-sdk==0.1.53
langsmith==0.3.13
streamlit==1.41.1
pymongo==4.11.1
langchain-groq
